<!DOCTYPE html>
<html ng-app="Vision">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Vision Module Controller</title>
	<link type="text/css" href="r/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="r/font-awesome.min.css" rel="stylesheet" />
	<link type="text/css" href="r/scaffolding.css" rel="stylesheet" />
	<script language="javascript" type="text/javascript" src="r/jquery-2.1.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="r/jquery-ui.min.js"></script>
	<script language="javascript" type="text/javascript" src="r/bootstrap.min.js"></script>
	<script language="javascript" type="text/javascript" src="r/services.js"></script>
	<script language="javascript" type="text/javascript" src="r/touchgamepad.js"></script>
	<script language="javascript" type="text/javascript" src="r/controlmodule.js"></script>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,user-scalable=no,width=device-width" />
</head>

<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">AALAB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="controller.html">Vision Module <span class="sr-only">(current)</span></a></li>
        <li><a href="motioneditor.html">Motion Editor</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="device tablet-view"><a href="#"><span class="fa fa-tablet"></span></a></li>
        <li class="device keyboard-view"><a href="#"><span class="fa fa-keyboard-o"></span></a></li>
        <li class="device gamepad-view"><a href="#"><span class="fa fa-gamepad"></span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuration <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/command/downloadconfiguration">Download</a></li>
            <li><a href="#">Freeze</a></li>
          </ul>
        </li>
        <li><a href="/command/shutdown"><span class="glyphicon glyphicon-remove"></span> Shutdown</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="page">
	<div class="row" ng-controller="VideoCtrl as vCtrl">
		<div class="col-md-12 col-lg-7">
			<div class="btn-toolbar" id="processingModes">
				<div class="btn-group">
					<button class="btn btn-default" ng-repeat="mode in vCtrl.modes" ng-class="{ 'active': vCtrl.isProcessingMode(mode.name) }" ng-click="vCtrl.setProcessingMode(mode.name)">{{ mode.label }}</button>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-8">
							<div id="videoContainer"><canvas></canvas></div>
						</div>
						<div class="col-xs-4">
							<div class="robot-positioning">
								<div class="robot-head"></div>
								<div class="robot-head-tilt"></div>
								<div class="robot-body"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-xs-3">
					<a class="btn btn-default" ng-click="vCtrl.togglePause()"><span class="glyphicon" ng-class="{ 'glyphicon-pause':!vCtrl.isPaused(),'glyphicon-play':vCtrl.isPaused() }"></span> {{ (vCtrl.isPaused() ? 'Play' : 'Pause' ) }}</a>
				</div>
				<div class="col-md-4 col-xs-9"><form ng-submit="vCtrl.savePpm()">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="ppmname" id="saveppmInput" ng-model="vCtrl.filename" />
						<span class="input-group-addon">.ppm</span>
						<span class="input-group-btn">
							<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
						</span>
					</div>
				</form></div>
			</div>
			<!-- Added by Bryan -->
			<div class="row">Number of Steps:</div>
			<div class ="row">
				<script>
					function update(value){	
						document.getElementById("sliderValue").innerHTML = value;
					}
					function submitSteps(movFrontal,movLateral)
					{
						if($("#stepCycleVal").val() != 0)
						{
							services.robot.move(movFrontal,movLateral,null,null,$("#stepCycleVal").val());
						}
					}
				</script>
				<input type="range" id="stepCycleVal" min="0" max="20" value="0" style="width: 300px;" onchange="update(this.value);" />
				<p id="sliderValue"></p>
			</div> 
			<! -- End of addition -->
			<div class="row">
				<div class="col-xs-3"><h3 align="center">Walking</h3></div>
				<div class="col-xs-offset-1 col-xs-3"><h3 align="center">Head</h3></div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control" onclick="submitSteps(0.5,0)"  data-key="up"><span class="glyphicon glyphicon-arrow-up"></span></a></div>
				<div class="col-xs-offset-3 col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control" data-key="w"><span class="glyphicon glyphicon-arrow-up"></span></a></div>
			</div>
			<div class="row">
				<div class="col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control"  onclick="submitSteps(0,-0.5)" data-key="left"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
				<div class="col-xs-offset-1 col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control"  onclick="submitSteps(0,0.5)" data-key="right"><span class="glyphicon glyphicon-arrow-right"></span></a></div>
				<div class="col-xs-offset-1 col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control" data-key="a"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
				<div class="col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control" title="Move head to the home position" data-key="control"><span class="glyphicon glyphicon-refresh"></span></a></div>
				<div class="col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control" data-key="d"><span class="glyphicon glyphicon-arrow-right"></span></a></div>
			</div>
			<div class="row">
				<div class="col-xs-offset-1 col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control"  onclick="submitSteps(-0.5,0)" data-key="down"><span class="glyphicon glyphicon-arrow-down"></span></a></div>
				<div class="col-xs-offset-3 col-xs-1"><a href="#" class="btn btn-default btn-block btn-lg btn-ui-control" data-key="s"><span class="glyphicon glyphicon-arrow-down"></span></a></div>
			</div>
		</div>
		<div class="col-md-12 col-lg-5" ng-controller="TabCtrl as tab">
			<ul class="nav nav-tabs" id="tabs">
				<li ng-class="{ active: tab.isSelected(0) }"><a href="#colourdefinition" ng-click="tab.setTab(0); $event.preventDefault();">Colour Definition</a></li>
				<li ng-class="{ active: tab.isSelected(1) }"><a href="#cameracalibration" ng-click="tab.setTab(1); $event.preventDefault();">Camera Calibration</a></li>
				<li ng-class="{ active: tab.isSelected(2) }"><a href="#markers" ng-click="tab.setTab(2); $event.preventDefault();">Markers</a></li>
				<li ng-class="{ active: tab.isSelected(3) }"><a href="#cameraparameters" ng-click="tab.setTab(3); $event.preventDefault();">Camera Parameters</a></li>
				<li ng-class="{ active: tab.isSelected(4) }"><a href="#serialportconfiguration" ng-click="tab.setTab(4); $event.preventDefault();">Serial Port Configuration</a></li>
			</ul>
			<div class="tab-content">
				<div id="colourdefinition" class="tab-pane" ng-class="{ active: tab.isSelected(0) }" ng-controller="ColoursCtrl as cCtrl">
					<p> Create and modify colour definitions.</p>

					<div class="btn-toolbar" style="margin-bottom: 20px;">
						<button class="btn btn-default" ng-click="cCtrl.newColour()"><span class="glyphicon glyphicon-plus"></span> New color</button>
					</div>

					<div class="panel-group" ng-repeat="colour in cCtrl.colours">
						<form ng-submit="cCtrl.save(colour)">
							<div class="panel" ng-class="{ 'panel-primary': cCtrl.isColour(colour), 'panel-default': !cCtrl.isColour(colour) }">
								<div class="panel-heading" ng-click="cCtrl.setColour(colour)">
									<div class="btn-toolbar pull-right">
										<a href="#" ng-show="cCtrl.isColour(colour)" ng-click="cCtrl.reset(colour)" title="Reset colour" class="btn btn-info btn-xs">reset</a>
										<a href="#" ng-show="cCtrl.isColour(colour)" ng-click="cCtrl.remove(colour); $event.preventDefault(); $event.stopPropagation();" title="Remove color" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
										<a href="#" ng-hide="cCtrl.isColour(colour)" title="Edit color settings" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> edit</a>
										<button type="submit" ng-show="cCtrl.isColour(colour)" title="Save color settings" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-floppy-disk"></span> save</button>
									</div>
									<h4 class="panel-title">{{ colour._name || colour.name }} <span ng-show="colour._changed" class="glyphicon glyphicon-asterisk"></span></h4>
								</div>
								<div class="panel-collapse collapse" ng-class="{ 'in': cCtrl.isColour(colour) }">
									<div class="panel-body">
										<label class="control-label">Name: <input type="text" class="form-control" ng-model="colour.name" /></label>
										<div class="row">
											<div class="col-md-12"><h4>Minimum</h4></div>
											<div class="col-md-2">
												<label class="control-label" for="">Red</label>
												<input type="text" class="form-control" ng-model="colour.min.red" min="0" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Green</label>
												<input type="text" class="form-control" ng-model="colour.min.green" min="0" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Blue</label>
												<input type="text" class="form-control" ng-model="colour.min.blue" min="0" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Red - Green</label>
												<input type="text" class="form-control" ng-model="colour.min.red_green" min="-255" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Red - Blue</label>
												<input type="text" class="form-control" ng-model="colour.min.red_blue" min="-255" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Green - Blue</label>
												<input type="text" class="form-control" ng-model="colour.min.green_blue" min="-255" max="255" step="1" value="255" />
											</div>
										</div>
										<div class="row">
											<div class="col-md-12"><h4>Maximum</h4></div>
											<div class="col-md-2">
												<label class="control-label" for="">Red</label>
												<input type="text" class="form-control" ng-model="colour.max.red" min="0" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Green</label>
												<input type="text" class="form-control" ng-model="colour.max.green" min="0" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Blue</label>
												<input type="text" class="form-control" ng-model="colour.max.blue" min="0" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Red - Green</label>
												<input type="text" class="form-control" ng-model="colour.max.red_green" min="-255" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Red - Blue</label>
												<input type="text" class="form-control" ng-model="colour.max.red_blue" min="-255" max="255" step="1" value="255" />
											</div>
											<div class="col-md-2">
												<label class="control-label" for="">Green - Blue</label>
												<input type="text" class="form-control" ng-model="colour.max.green_blue" min="-255" max="255" step="1" value="255" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="cameracalibration" class="tab-pane" ng-controller="CalibrationCameraProcessingCtrl as ccpCtrl" ng-class="{ active: tab.isSelected(1) }">
					<div class="btn-toolbar" style="margin-bottom: 20px;">
						<button class="btn btn-default" ng-click="ccpCtrl.newCalibration()"><span class="glyphicon glyphicon-plus"></span> New calibration</button>
					</div>
					<div class="panel-group" ng-repeat="calibration in ccpCtrl.cameraCalibrations">
						<form ng-submit="ccpCtrl.save(calibration)">
							<div class="panel" ng-class="{ 'panel-primary': ccpCtrl.isCalibration(calibration), 'panel-default': !ccpCtrl.isCalibration(calibration) }">
								<div class="panel-heading" ng-click="ccpCtrl.setCalibration(calibration)">
									<div class="btn-toolbar pull-right">
										<a href="#" ng-show="ccpCtrl.isCalibration(calibration)" ng-click="ccpCtrl.remove(calibration); $event.preventDefault(); $event.stopPropagation();" title="Remove calibration" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
										<a href="#" ng-hide="ccpCtrl.isCalibration(calibration)" title="Edit calibration" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> edit</a>
										<button type="submit" ng-show="ccpCtrl.isCalibration(calibration)" title="Save calibration" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-floppy-disk"></span> save</button>
									</div>
									<h4 class="panel-title">{{ calibration._name || calibration.name || '&nbsp;' }} <span ng-show="calibration._changed" class="glyphicon glyphicon-asterisk"></span></h4>
								</div>
								<div class="panel-collapse collapse" ng-class="{ 'in': ccpCtrl.isCalibration(calibration) }">
									<div class="panel-body">
										<label class="control-label">Name: <input type="text" class="form-control" ng-model="calibration.name" /></label>
										<div class="row">
											<div class="col-sm-3 col-xs-6">
												<div class="form-group">
													<label class="control-label">Rows</label>
													<input type="text" ng-model="calibration.params.rows" class="form-control" />
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group">
													<label class="control-label">Columns</label>
													<input type="text" ng-model="calibration.params.columns" class="form-control" />
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group has-feedback">
													<label class="control-label">X Origin</label>
													<input type="text" ng-model="calibration.params.origin.x" class="form-control" /><span class="form-control-feedback">cm</span>
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group has-feedback">
													<label class="control-label">Y Origin</label>
													<input type="text" ng-model="calibration.params.origin.y" class="form-control" /><span class="form-control-feedback">cm</span>
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group has-feedback">
													<label class="control-label">X Distance</label>
													<input type="text" ng-model="calibration.params.distance.x" class="form-control" /><span class="form-control-feedback">cm</span>
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group has-feedback">
													<label class="control-label has-feedback">Y Distance</label>
													<input type="text" ng-model="calibration.params.distance.y" class="form-control" /><span class="form-control-feedback">cm</span>
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group has-feedback">
													<label class="control-label">Clustering Threshold</label>
													<input type="text" ng-model="calibration.params.thresholds.clustering" class="form-control" /><span class="form-control-feedback">px</span>
												</div>
											</div>
											<div class="col-sm-3 col-xs-6">
												<div class="form-group">
													<label class="control-label">Brightness Threshold</label>
													<input type="text" ng-model="calibration.params.thresholds.brightness" class="form-control ccpCtrlSettingsThresholdsBrightness" />
													<div class="progress brightnessProgress" style="margin: 10px 11px 0 11px;">
														<div class="progress-bar-cursor"></div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6">
												<span class="grid-icon glyphicon"></span> <span class="grid-error"></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div id="markers" class="tab-pane" ng-class="{ active: tab.isSelected(2) }" ng-controller="MarkersCtrl as mCtrl">
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row markers-set">
								<div class="col-xs-4 marker marker-left">
									<div><span class="fa fa-arrow-circle-left"></span></div>
									<div class="marker-error"></div>
								</div>
								<div class="col-xs-4 marker marker-forward">
									<div><span class="fa fa-arrow-circle-up"></span></div>
									<div class="marker-error"></div>
								</div>
								<div class="col-xs-4 marker marker-right">
									<div><span class="fa fa-arrow-circle-right"></span></div>
									<div class="marker-error"></div>
								</div>
							</div>
						</div>
					</div>
					<h3>Train markers</h3>
					<form class="form-inline">
						<div class="form-group">
							<input type="text" class="form-control" ng-model="mCtrl.name" placeholder="Marker's name" />
						</div>
						<button class="btn btn-primary btn-lg" type="submit" ng-click="mCtrl.train()"><span class="glyphicon glyphicon-ok"></span> Train!</button>
					</form>
				</div>
				<div id="cameraparameters" class="tab-pane" ng-class="{ active: tab.isSelected(3) }" ng-controller="CameraParametersCtrl as cpCtrl">
					<p>Settings for the brightness, contrast, sharpness, etc.</p>
					<form ng-submit="cpCtrl.save()">
						<div class="row">
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">Brightness</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.brightness" min="-1" max="255" />
								</div>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">Contrast</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.contrast" min="-1" max="255" />
								</div>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">Saturation</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.saturation" min="-1" max="255" />
								</div>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">Sharpness</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.sharpness" min="-1" max="255" />
								</div>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">Gain</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.gain" min="0" max="255" />
								</div>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">LED1 Mode</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.led1Mode" disabled="disabled" min="0" max="255" />
								</div>
							</div>
							<div class="col-sm-3 col-xs-6">
								<div class="form-group">
									<label class="control-label">LED1 Frequency</label>
									<input type="text" class="form-control" ng-model="cpCtrl.params.led1Frequency" disabled="disabled" min="0" max="255" />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<div class="checkbox">
									<label><input type="checkbox" ng-model="cpCtrl.params.disableVideoProcessing" disabled="disabled" /> Disable Video Processing</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" ng-model="cpCtrl.params.whiteBalanceTemperatureAuto" disabled="disabled" /> White Balance Temp. Auto</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="checkbox">
									<label><input type="checkbox" ng-model="cpCtrl.params.backlightCompensation" disabled="disabled" /> Backlight Comp.</label>
								</div>
								<div class="checkbox">
									<label><input type="checkbox" ng-model="cpCtrl.params.exposureAutoPriority" disabled="disabled" /> Exposure Auto Priority</label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="checkbox">
									<label><input type="checkbox" ng-model="cpCtrl.params.flip" /> Flip</label>
								</div>
							</div>
						</div>
<!--
						<div class="col-md-2">
							<label class="control-label">Power Line Frequency</label>
						</div>
						<div class="col-md-2">
							<label class="control-label">Raw Bits Per Pixel</label>
						</div>
-->
						<div class="form-actions">
							<button class="btn btn-primary btn-lg" type="submit"><span class="glyphicon glyphicon-ok"></span> Apply</button>
						</div>
					</form>
				</div>
				<div id="serialportconfiguration" class="tab-pane" ng-class="{ active: tab.isSelected(4) }">
					<p> Serial port parameters such as device name, port name, format.</p>
					<table style="text-align: left; width: 100%;" border="1" cellpadding="2" cellspacing="2">
					  <tbody>
						<tr>
						  <td><span class="control">Device Name</span><input class="control" name="serialPortName" value="/dev/ttyUSB0"></td>
						  <td class="control">Baudrate<input class="control" name="baudrate" value="115200"></td>
						  <td class="control"></td>
						</tr>
						<tr>
						  <td class="control">Data Bits/Parity/Stop Bits<input class="control" name="serialFormat" value="8N1"></td>
						  <td class="control">Format</td>
						  <td class="control">FPS<input class="control" name="serialFPS" value="10"></td>
						</tr>
					  </tbody>
					</table>
					<p></p>
				</div>
			</div>
		</div>
	</div>
</div>
<script language="javascript" type="text/javascript" src="r/angular.min.js"></script>
<script language="javascript" type="text/javascript" src="r/visionmodule.js"></script>
</body>
</html>
