<!DOCTYPE html>
<html ng-app="MotionEditor">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Motion Editor</title>
    <link type="text/css" href="r/bootstrap.min.css" rel="stylesheet"/>
    <link type="text/css" href="r/font-awesome.min.css" rel="stylesheet"/>
    <link type="text/css" href="r/scaffolding.css" rel="stylesheet"/>
    <link type="text/css" href="r/jquery-ui.min.css" rel="stylesheet"/>

    <script language="javascript" type="text/javascript" src="r/jquery-2.1.3.min.js"></script>
    <script language="javascript" type="text/javascript" src="r/angular.min.js"></script>
    <script language="javascript" type="text/javascript" src="r/jquery-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="r/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="r/motioneditor.js"></script>

    <script language="javascript" type="text/javascript" src="r/services.js"></script>
    <script language="javascript" type="text/javascript" src="r/servo.js"></script>
    <script language="javascript" type="text/javascript" src="r/robots.js"></script>

    <script src="r/webcomponentsjs/webcomponents.min.js"></script>
    <link rel="import" href="r/components.html" />

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0,user-scalable=no,width=device-width"/>
</head>

<body ng-controller="RobotCtrl as robotCtrl">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">AALAB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="controller.html">Vision Module <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="motioneditor.html">Motion Editor</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="position: relative">
                    <input type="file" style="position: absolute; height: 100%; width: 100%; z-index: 1; opacity: 0" id="loadDocumentInput" />
                    <a href="#" load-document><i class="fa fa-folder-open"></i> Load</a>
                </li>
                <li><a href="#" save-document id="saveDocument"><i class="fa fa-save"></i> Save</a></li>
                <li><a href="#" compile-document><i class="fa fa-cogs"></i> Compile</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Configuration
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/command/downloadconfiguration">Download</a></li>
                        <li><a href="#">Freeze</a></li>
                    </ul>
                </li>
                <li><a href="/command/shutdown"><span class="glyphicon glyphicon-remove"></span> Shutdown</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="page">
    <label><input type="checkbox" value="1" ng-model="robotCtrl.legs" /> Just legs</label>
    <div id="loadingContainer"></div>
    <div class="row">
        <div class="col-xm-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" ng-show="robotCtrl.screen == 'start'">
            <form>
                <div class="form-group">
                    <label for="robotModel">Robot type</label>
                    <select ng-model="robotCtrl.model" class="form-control" id="robotModel" ng-change="robotCtrl._changeRobotModelHandle()">
                        <option ng-repeat="(name, model) in robotCtrl.models" value="{{ name }}">{{ model.name }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="robotName">Robot name</label>
                    <input type="text" ng-model="robotCtrl.name" class="form-control" id="robotName">
                </div>
                <button type="submit" ng-click="robotCtrl.start()" class="btn btn-default">Start</button>
            </form>
        </div>
        <div class="col-xs-12" ng-show="robotCtrl.screen == 'edit'">
            <div ng-show="robotCtrl.state == 'loading'">
                <div align="center"><span class="glyphicon glyphicon-time"></span> Loading ...</div>
            </div>
            <div ng-show="robotCtrl.state == 'error'">
                <div class="alert alert-danger"><strong>Error!</strong> {{ robotCtrl.errorMessage }}</div>
                <button class="btn btn-default" ng-click="robotCtrl.screen = 'start'"><span class="glyphicon glyphicon-arrow-left"> Return</span></button>
            </div>
            <div ng-show="robotCtrl.state == 'ready'">
                <ol class="breadcrumb">
                    <li>{{ robotCtrl.models[robotCtrl.model].name }}</li>
                    <li>{{ robotCtrl.name }}</li>
                    <li class="active">Key frames</li>
                </ol>
                <div class="row">
                    <div class="col-xs-12 col-sm-4" id="colMap">
                        <div class="btn-toolbar" style="margin-bottom: 10px;">
                            <div class="btn-group btn-group-md" role="group">
                                <a ng-click="robotCtrl._turnSelectedOn()" class="btn btn-danger">Lock</a>
                                <a ng-click="robotCtrl._turnSelectedOff()" class="btn btn-success">Unlock</a>
                            </div>
                            <div class="btn-group btn-group-md pull-right" role="group">
                                <a ng-click="robotCtrl._turnAllOn()" class="btn btn-danger">Lock All</a>
                                <a ng-click="robotCtrl._turnAllOff()" class="btn btn-success">Unlock All</a>
                            </div>
                        </div>
                        <div class="thumbnail affix"><div style="height: 400px; position: relative;" id="robotView">
                            <me-sgraph class="off" label="{{name}}" orientation="{{actuator.orientation}}" x="{{actuator.position.x}}" y="{{actuator.position.y}}" ng-repeat="(name, actuator) in robotCtrl.currentModel.actuators"></me-sgraph>
                        </div></div>
                        <div class="panel" ng-repeat="group in robotCtrl.document.groups" ng-class="{ 'panel-primary': robotCtrl.isCurrentGroup(group), 'panel-default': !robotCtrl.isCurrentGroup(group) }">
                            <div class="panel-heading" ng-click="robotCtrl.group(group)" ng-dblclick="group.editing = true; console.log($(this).find('.group-name')); $(this).find('.group-name').focus();"><form ng-submit="group.editing = false">
                                <a class="btn btn-danger btn-xs pull-right" ng-click="robotCtrl.removeGroup(group)"><i class="fa fa-remove"></i></a>
                                <span ng-hide="group.editing">{{ group.name }}</span>
                                <div style="margin-top: -5px; margin-right: 30px;" ng-show="group.editing"><input type="text" ng-model="group.name" class="form-control group-name" /></div>
                            </form></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <ul class="nav nav-tabs">
                            <li ng-class="{ active: robotCtrl.tab == 'positions' }"><a href="#positions" role="tab" data-toggle="tab" ng-click="robotCtrl.tab = 'positions'">Positions</a></li>
                            <li ng-class="{ active: robotCtrl.tab == 'sequences' }"><a href="#sequences" role="tab" data-toggle="tab" ng-click="robotCtrl.tab = 'sequences'">Sequences</a></li>
                        </ul>
                        <div id="positions" ng-show="robotCtrl.tab == 'positions'">
                            <p class="btn-toolbar" role="toolbar" aria-label="Actions">
                            <div class="btn-group" role="group" aria-label="Add a new keyframe">
                                <button class="btn btn-primary" ng-click="robotCtrl.createFrame()"><span class="glyphicon glyphicon-plus"></span> Add keyframe</button>
                                <button class="btn btn-success" ng-click="robotCtrl._saveThisFrame()">Update Current Angles</button>
                            </div>
                            </p>
                            <div ng-show="robotCtrl.document.keyframes.length == 0">
                                <div class="alert alert-warning">No frames added yet.</div>
                            </div>
                            <div class="panel panel-primary" ng-repeat="keyframe in robotCtrl.document.keyframes" ng-show="robotCtrl.isCurrent(keyframe)">
                                <div class="panel-heading" ng-click="robotCtrl.current(keyframe)"><form ng-submit="keyframe.editing = false">
                                    <a class="btn btn-danger btn-xs pull-right" ng-click="robotCtrl.remove(keyframe)"><i class="fa fa-remove"></i></a>
                                    <a class="btn btn-success btn-xs pull-right" ng-click="robotCtrl._playCurrentFrame(keyframe)"><i class="fa fa-play"></i></a>
                                    <span ng-hide="keyframe.editing" ng-dblclick="keyframe.editing = true; $(this).closest('.panel-heading').find('keyframe-name').focus();">{{ keyframe.name }}</span>
                                    <div style="margin-right: 30px;" ng-show="keyframe.editing"><input type="text" ng-model="keyframe.name" class="form-control keyframe-name" /></div>
                                </form></div>
                                <div class="panel-collapse" ng-class="{ 'collapse': !robotCtrl.isCurrent(keyframe) }"><div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-3 actuator-edit actuator-{{actuator.name}}" ng-repeat="actuator in keyframe.actuators">
                                            <form class="form-group" ng-submit="robotCtrl.applyAngles(keyframe)">
                                                <label class="control-label">{{actuator.name}}:</label><input type="text" data-actuator="{{actuator.name}}" ng-model="actuator.angle" ng-model-options="{getterSetter:true}" class="form-control angle" />
                                            </form>
                                        </div>
                                    </div>
                                </div></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3" ng-repeat="keyframe in robotCtrl.document.keyframes" >
                                    <div class="panel" ng-class="{ 'panel-primary': robotCtrl.isCurrent(keyframe), 'panel-default': !robotCtrl.isCurrent(keyframe) }">
                                        <div class="panel-heading" ng-click="robotCtrl.current(keyframe)"><span>{{ keyframe.name }}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="sequences" ng-show="robotCtrl.tab == 'sequences'">
                            <p class="btn-toolbar" role="toolbar" aria-label="Actions">
                            <div class="btn-group" role="group" aria-label="Add a new sequence">
                                <button class="btn btn-primary" ng-click="robotCtrl.createSequence()"><span class="glyphicon glyphicon-plus"></span> Add sequence</button>
                            </div>
                            </p>
                            <div class="well well-sm" style="padding-bottom: 0">
                                <div class="row" id="framesContainer">
                                    <div class="col-xs-2 " ng-repeat="keyframe in robotCtrl.document.keyframes">
                                        <div class="panel panel-default" keyframe-draggable style="margin-bottom: 10px">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{keyframe.name}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="robotCtrl.document.sequences.length == 0">
                                <div class="alert alert-warning">No sequences added yet.</div>
                            </div>
                            <div ng-repeat="sequence in robotCtrl.document.sequences">
                                <div class="panel panel-primary" ng-show="robotCtrl.isCurrentSequence(sequence)" sequence>
                                    <div class="panel-heading" ng-click="robotCtrl.currentSequence(sequence)"><form ng-submit="sequence.editing = false">
                                        <a class="btn btn-danger btn-xs pull-right" ng-click="robotCtrl.removeSequence(sequence)"><i class="fa fa-remove"></i></a>
                                        <a class="btn btn-default btn-xs pull-right" id="play-trajectory-button" play-trajectory><i class="fa fa-play"></i></a>
                                        <a class="btn btn-default btn-xs pull-right" compile-trajectory title="Compile trajectory"><i class="fa fa-cogs"></i></a>
                                        <div ng-dblclick="sequence.editing = true; $(this).closest('.panel-heading').find('sequence-name').focus();" ng-hide="sequence.editing">{{ sequence.name }}</div>
                                        <div style="margin-right: 30px;" ng-show="sequence.editing"><input type="text" ng-model="sequence.name" class="form-control sequence-name" /></div>
                                    </form></div>
                                    <div class="panel-body">
                                        <div class="sequence-containers">
                                            <form class="position form-horizontal" ng-repeat="position in sequence.positions">
                                                <div class="form-group">
                                                    <label class="col-sm-3 control-label">{{position.name}}</label>
                                                    <label class="col-sm-2 control-label">Time:</label>
                                                    <div class="col-sm-7">
                                                        <div class="input-group">
                                                            <input type="text" ng-model="position.time" class="form-control" />
                                                            <span class="input-group-btn"><a class="btn btn-danger" ng-click="robotCtrl.removePositionFromSequence(position)"><i class="fa fa-remove"></i></a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-repeat="sequence in robotCtrl.document.sequences" class="col-xs-3">
                                    <div class="panel" ng-class="{ 'panel-primary': robotCtrl.isCurrentSequence(sequence), 'panel-default': !robotCtrl.isCurrentSequence(sequence) }">
                                        <div class="panel-heading" ng-click="robotCtrl.currentSequence(sequence)">{{ sequence.name }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
