<link rel="import" href="polymer/polymer.html">

<dom-module id="me-servo">
	<template id="template">
		<div class="col-xs-6 col-sm-4 col-md-3">
			<form>
				<div class="thumbnail">
					<div class="caption">
						<p>{{name}}</p>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-repeat"></span></span>
								<input type="text" class="form-control" placeholder="Angle" value="{{value}}" />
								<span class="input-group-addon">&deg;</span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</template>
</dom-module>

<dom-module id="me-sgraph">
	<template id="template">
		<span></span>
		<div class="arrow-servo"></div>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'me-servo',
		properties: {
			name: String,
			value: {
				type: Number,
				reflectToAttribute: true,
				observer: '_changeAngle'
			}
		},
		_changeAngle: function ()
		{
			if (this.$this)
			{
				this.$this.find('input').val(this.value).trigger('change');
			}
		},
		_inputChangeHandler: function (e)
		{
			this.value = parseFloat(e.target.value);
			this.$this.trigger('change');
		},
		ready: function()
		{
			this.$this = $(this);
			this.$this.find('input').change($.proxy(this._inputChangeHandler, this));
		}
	});

	Polymer({
		is: 'me-sgraph',
		properties: {
			orientation: {
				type: String,
				observer: '_changeOrientation'
			},
			label: {
				type: String,
				observer: '_changeLabel'
			},
			x: {
				type: Number,
				observer: '_changeCoord'
			},
			y: {
				type: Number,
				observer: '_changeCoord'
			}
		},
		_changeOrientation: function ()
		{
			if (this.$arrow)
			{
				this.$arrow
					.removeClass('dir-s').removeClass('dir-w').removeClass('dir-e').removeClass('dir-n').removeClass('dir-u').removeClass('dir-d')
					.addClass('dir-' + this.orientation);
			}
		},
		_changeLabel: function ()
		{
			if (this.$label)
			{
				this.$label.html(this.label);
			}
		},
		_changeCoord: function ()
		{
			if (this.parentNode && this.parentNode.offsetWidth)
			{
				this.style.top = (30 + ((1-this.y) * (this.parentNode.offsetHeight - 60))) + 'px';
				this.style.left = (30 + ((this.x) * (this.parentNode.offsetWidth - 60))) + 'px';
			}
		},
		_onResizeHandler: function (e)
		{
			this._changeCoord();
		},
		ready: function()
		{ },

		attached: function ()
		{
			this.$container = $(this).parent();
			this.$label = $(this).find('span');
			this.$arrow = $(this).find('.arrow-servo');

			$(window).resize($.proxy(this._onResizeHandler, this));
			$($.proxy(this._onResizeHandler, this));

			this._changeLabel();
			this._changeOrientation();
			setTimeout($.proxy(this._changeCoord, this), 100);
		}
	});
</script>