
#page
{
	padding: 20px;
}

#mainToolbar
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.tab-pane
{
	padding: 20px;
}

#videoContainer
{
	background-color: black;
	text-align: center;
}

#videoContainer canvas
{ }

.panel .panel-heading .btn-toolbar
{
	margin-top: -3px;
}

.form-actions
{
	text-align: right;
}

.progress .progress-bar-cursor
{
	position: absolute;
	margin-top: -1px;
	margin-left: -11px;
	margin-right: -11px;
	width: 22px;
	height: 22px;
	border-radius: 3px;
	background-color: #cdcdcd;
	border: 1px solid #bababa;
}

#processingModes
{
	margin-bottom: 10px;
}

#videoContainer canvas
{
	cursor: crosshair;
}

.device
{
	margin: 0 3px;
}

.device, .device span
{
	line-height: 50px;
	vertical-align: middle;
}

.device a
{
	padding: 0!important;
	width: 50px;
	text-align: center;
}

.device
{
	opacity: 0.1;
	font-size: 30px;
	padding: 0!important;
}

.device.active
{
	opacity: 1;
}

.device.unavailable
{
	opacity: 0.5;
	color: #FF0000;
}

.gamepad-status
{
	position: absolute;
	z-index: 123123;
	background-color: red;
	text-align: center;
	width: 40px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

.robot-positioning
{
	position: relative;
}

.robot-positioning .robot-body,
.robot-positioning .robot-head,
.robot-positioning .robot-head-tilt
{
	position: absolute;
	width: 0; 
	height: 0; 
}

.robot-positioning .robot-body,
.robot-positioning .robot-head
{
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 150px solid black;
	left: 50%;
	margin-left: -50px;
}

.robot-positioning .robot-body
{
	z-index: 1;
	border-bottom-color: red;
}

.robot-positioning .robot-head
{
	z-index: 2;
	border-bottom-color: green;
	opacity: 0.6;
}

.robot-positioning .robot-head-tilt
{
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid black;
}

.touch-joystick
{
	position: absolute;
	border-radius: 10%;
	border: 1px solid blue;
	border-radius: 100%;
}

.touch-joystick .touch-handler
{
	position: absolute;
	border-radius: 100%;
	border: 1px solid red;

	height: 50%;
	width: 50%;
}

.markers-set .marker 
{
	text-align: center;
}

.markers-set .marker span
{
	font-size: 100px;
	opacity: 0.1;
}

.markers-set .marker.active span
{
	opacity: 1;
}

me-sgraph
{
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
}

me-sgraph.ui-selected
{
	background: red;
}

me-sgraph.ui-selecting
{
	background: rgba(255, 0, 0, 0.5);
}

me-sgraph.off
{
	opacity: 0.3;
}

me-sgraph span
{
	display: none;
	position: absolute;
	margin-left: 20px;
	margin-top: -0.5em;
	font-size: 10px;
}

.arrow-servo
{
	position: absolute;
	width: 100%;
	height: 0;
	margin-top: 10px;
}

.arrow-servo:after,
.arrow-servo:before
{
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #c0c0c0;
	border-width: 10px;
	margin-left: -10px;
}

.arrow-servo:before
{
	display: none;
}
.arrow-servo.dir-n
{ }

.arrow-servo.dir-s
{
	transform: rotate(180deg);
}

.arrow-servo.dir-w
{
	transform: rotate(-90deg);
}

.arrow-servo.dir-e
{
	transform: rotate(90deg);
}

.arrow-servo.dir-u:before
{
	display: block;
	border-top-color: #dfdfdf;
	border-bottom-color: transparent;
	top: 100%;
}

.arrow-servo.dir-d:after
{
	border-bottom-color: #dfdfdf;
}

.arrow-servo.dir-d:before
{
	display: block;
	border-top-color: #c0c0c0;
	border-bottom-color: transparent;
	top: 100%;
}

.actuator-edit.ui-selected input
{
	background-color: #ffeeee;
}

.sequence-containers
{
	border: 1px dashed #c0c0c0;
	min-height: 30px;
	border-radius: 5px;
	padding: 10px;
}

#loadingContainer
{
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 1000;
}

#loadingContainer .label
{
	margin: 5px 0;
}